<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="surname">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br/>
    <label for="age1">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age1">
    <br/>
    <label for="email">Введите Email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <label>Выберите роли пользователя: </label>
    <br/>
    <div th:each="role : ${rolesList}">
        <input type="checkbox" th:field="*{roleIds}" th:value="${role.id}" id="role_${role.id}">
        <label th:for="${'role_' + role.id}" th:text="${role.role}"></label><br/>
    </div>
    <br/>
    <input type="submit" value="Обновить пользователя!">
    <br/>
    <br/>
    <a href="/logout"> Выйти из аккаунта</a>
</form>
</body>
</html>
