<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь по ID</title>
</head>
<body>

<p><strong>ID:</strong> <span th:text="${userById.getId()}"></span></p>
<p><strong>Имя:</strong> <span th:text="${userById.getName()}"></span></p>
<p><strong>Фамилия:</strong> <span th:text="${userById.getSurname()}"></span></p>
<p><strong>Возраст:</strong> <span th:text="${userById.getAge()}"></span></p>
<p><strong>Пароль:</strong> <span th:text="${userById.getPassword()}"></span></p>
<p><strong>Роли:</strong> <span th:text="${userById.getRolesAsString()}"></span></p>



<form th:method="GET" th:action="@{/admin/{id}/edit(id=${userById.getId()})}">
    <input type="submit" value="Изменить пользователя">
</form>
<form th:method="POST" th:action="@{/admin/{id}/delete(id=${userById.getId()})}">
    <br/>
    <input type="submit" value="Удалить пользователя!"/>
    <br/>
    <br/>
    <a href="/logout"> Выйти из аккаунта</a>
</form>
</body>
</html>
