<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь по ID</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <td th:text="${userById.getId()}"></td>
    </tr>
    <tr>
        <th>Имя</th>
        <td th:text="${userById.getName()}"></td>
    </tr>
    <tr>
        <th>Фамилия</th>
        <td th:text="${userById.getSurname()}"></td>
    </tr>
    <tr>
        <th>Возраст</th>
        <td th:text="${userById.getAge()}"></td>
    </tr>
    <tr>
        <th>Пароль</th>
        <td th:text="${userById.getPassword()}"></td>
    </tr>
    <tr>
        <th>Роли</th>
        <td th:text="${userById.getRolesAsString()}"></td>
    </tr>
</table>

<form th:method="GET" th:action="@{/admin/{id}/edit(id=${userById.getId()})}">
    <input type="submit" value="Изменить пользователя">
</form>
<form th:method="POST" th:action="@{/admin/{id}/delete(id=${userById.getId()})}">
    <br/>
    <input type="submit" value="Удалить пользователя!"/>
    <br/>
    <br/>
    <a href="/logout">Выйти из аккаунта</a>
</form>

</body>
</html>
