<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

    <title>ВСЕ ЛЮДИ</title>
    <style>
        /* Обеспечивает серый фон на всю высоту правого контейнера */
        .custom-container {
            background-color: #f0f0f0; /* Серый цвет фона */
            min-height: 100vh; /* Минимальная высота - 100% высоты экрана */
            padding: 20px; /* Добавляем отступы для более красивого отображения контента */
        }

        .list-group-item.active {
            cursor: pointer;
        }

    </style>
</head>
<body>
<nav class="navbar sticky-top navbar-light bg-dark">
    <div class="container-fluid text-white ">
        <div style="text-align: left;">
        <span class="navbar-header fw-bold" id="emailCurrentUser">
                </span><span> with roles: </span>
            <span class="navbar-header fw-bold" id="rolesCurrentUser"></span></div>
        <div><a class="navbar-brand text-light" href="/logout">Logout</a></div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="nav flex-column nav-pills me-3 w-100" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>

        <div class="custom-container col-md-10 text-center">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h1 class="text-start">Admin panel</h1>

                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#usersTable" role="tab"
                           aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#newUser" role="tab"
                           aria-controls="nav-profile" aria-selected="false">New User</a>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <!-- Содержимое для вкладки "Users table" -->
                            <div class="container-fluid w-100 border d-flex align-items-center" style="height: 50px;">
                                <p class="mb-0">All users</p>
                            </div>
                            <div class="container-fluid bg-white p-3"
                                 style="background-color: white;">

                                <table class="table table-striped">
                                    <thead style="border-top: 1px solid #dee2e6;">
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Роли</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <!--                                    // загрузятся данный со страницы adminPage-->
                                    <tbody id="user-table">
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!--                    Изменение пользователя-->
                    <div id="editUserModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalBasicLabel">Edit user</h5>
                                    <button class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <div class="modal-body">
                                    <form class="text-center" id="formForEditing">

                                        <label for="editId" class="form-label fw-bold">ID</label>
                                        <div class="d-flex justify-content-center">
                                            <input type="text" id="editId"
                                                   class="form-control w-50 text-center" name="id" disabled/>
                                        </div>

                                        <label for="editName" class="form-label fw-bold">First name</label>
                                        <div class="d-flex justify-content-center">
                                            <input type="text" id="editName" class="form-control w-50 text-center"
                                                   name="name"/>
                                        </div>
                                        <label for="editSurname" class="form-label fw-bold">Last name</label>
                                        <div class="d-flex justify-content-center">
                                            <input type="text" id="editSurname" class="form-control w-50 text-center"
                                                   name="surname"/>
                                        </div>
                                        <label for="editAge" class="form-label fw-bold">Age</label>
                                        <div class="d-flex justify-content-center">
                                            <input type="number" id="editAge" class="form-control w-50 text-center"
                                                   min="1" max="150" step="1" name="age">
                                        </div>
                                        <label for="editEmail" class="form-label fw-bold">Email</label>
                                        <div class="d-flex justify-content-center">
                                            <input type="email" id="editEmail" class="form-control w-50 text-center"
                                                   name="email"/>
                                        </div>
                                        <label for="editPassword" class="form-label fw-bold">Password</label>
                                        <div class="d-flex justify-content-center">
                                            <input type="password" id="editPassword"
                                                   class="form-control w-50 text-center" name="password"/>
                                        </div>

                                        <label for="editRole" class="form-label fw-bold">Role</label>
                                        <div class="d-flex justify-content-center">
                                            <select class="form-select w-50" multiple id="editRole" size="2" required>
                                            </select>
                                        </div>
                                        <br>

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal" id="closeEdit">Close
                                            </button>
                                            <button type="button" class="btn btn-primary"
                                                    onclick="editUser(); getAdminPage()">Edit
                                            </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--                    Удаление пользователя-->
                <div id="delUserModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalBasicLabel">Delete user</h5>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <label for="delId" class="form-label fw-bold">ID</label>
                                    <div class="d-flex justify-content-center">
                                        <input type="text" class="form-control w-50 text-center" id="delId"
                                               disabled>
                                    </div>
                                    <label for="delName" class="form-label fw-bold">First name</label>
                                    <div class="d-flex justify-content-center">
                                        <input type="text" class="form-control w-50 text-center" id="delName"
                                               disabled>
                                    </div>
                                    <label for="delSurname" class="form-label fw-bold">Last name</label>
                                    <div class="d-flex justify-content-center">
                                        <input type="text" class="form-control w-50 text-center" id="delSurname"
                                               disabled>
                                    </div>
                                    <label for="delAge" class="form-label fw-bold">Age</label>
                                    <div class="d-flex justify-content-center">
                                        <input type="number" class="form-control w-50 text-center" id="delAge"
                                               disabled>
                                    </div>
                                    <label for="delEmail" class="form-label fw-bold">Email</label>
                                    <div class="d-flex justify-content-center">
                                        <input type="email" class="form-control w-50 text-center" id="delEmail"
                                               disabled>
                                    </div>
                                    <label for="delRoles" class="form-label fw-bold">Role</label>
                                    <div class="d-flex justify-content-center">
                                        <input type="text" class="form-control w-50 text-center" id="delRoles"
                                               disabled>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        id="closeDelete">
                                    Close
                                </button>
                                <button type="button" class="btn btn-danger"
                                        onclick="deleteModalUser(); getAdminPage()">Delete
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <!-- Содержимое для вкладки "New User" -->

                    <div class="container-fluid border d-flex align-items-center" style="height: 50px;">
                        <p class="mb-0">Add new user</p>
                    </div>
                    <div class="container-fluid" id="addNewUser" style="background-color: white;">
                        <form id="addNewUserInTable">
                            <div class="container w-25">
                                <br>
                                <label for="name" class="form-label fw-bold">First name</label>
                                <input type="text" id="name" class="form-control mb-3" placeholder="First name"
                                       required/>

                                <label for="surname" class="form-label fw-bold">Last name</label>
                                <input type="text" id="surname" class="form-control mb-3" placeholder="Last name"
                                       required/>

                                <label for="age" class="form-label fw-bold">Age</label>
                                <input type="number" id="age" class="form-control" min="1" max="150" step="1"
                                       placeholder="Age"
                                       required>


                                <label for="email" class="form-label fw-bold">Email</label>
                                <input type="email" id="email" class="form-control mb-3" placeholder="email"
                                       required/>

                                <label for="password" class="form-label fw-bold">Password</label>
                                <input type="password" id="password" class="form-control mb-3"
                                       placeholder="Password" required autocomplete="current-password">

                                <label for="rolesForNewUser" class="form-label fw-bold">Role</label>
                                <select class="form-select" multiple id="rolesForNewUser" name="roleIds" size="2"
                                        required>
                                </select>
                                <br/>
                                <button type="submit" class="btn btn-success">Add new user</button>
                            </div>
                        </form>
                        <br>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <!-- Содержимое для вкладки "Users table" -->
                    <h1 class="text-start">User information-page</h1>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                             aria-labelledby="nav-home-tab">

                            <div class="container-fluid border d-flex align-items-center"
                                 style="height: 50px;">
                                <p class="mb-0">About user</p>
                            </div>
                            <div class="container-fluid bg-white p-3"
                                 style="background-color: white;">

                                <table class="table table-striped">
                                    <thead style="border-top: 1px solid #dee2e6;">
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Роли</th>
                                    </tr>
                                    </thead>
                                    <tbody id="user-page">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="/adminPage.js"></script>
<script src="/userPage.js"></script>

</body>
</html>