<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь по ID</title>
</head>
<body>

<p th:text="${userById.getId()}"></p>
<p th:text="${userById.getName()}"></p>
<p th:text="${userById.getSurname()}"></p>
<p th:text="${userById.getAge()}"></p>
<p th:text="${userById.getPassword()}"></p>


<form th:method="GET" th:action="@{/admin/{id}/edit(id=${userById.getId()})}">
    <input type="submit" value="Изменить пользователя">
</form>
<form th:method="POST" th:action="@{/admin/{id}/delete(id=${userById.getId()})}">
    <br/>
    <input type="submit" value="Удалить пользователя!"/>
    <br/>
    <br/>
    <a href="/logout"> Выйти из аккаунта</a>
</form>
</body>
</html>
