<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>ВСЕ ЛЮДИ</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
СПИСОК ВСЕХ ПОЛЬЗОВАТЕЛЕЙ
<p></p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Пароль</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getId()}">user</a></td>
        <td><a th:text="${user.getName()}">user</a></td>
        <td><a th:text="${user.getSurname()}">user</a></td>
        <td><a th:text="${user.getAge()}">user</a></td>
        <td><a th:text="${user.getPassword()}">user</a></td>
    </tr>
    </tbody>
</table>
<br/>
<hr/>

<a href="admin/new">Создать нового пользователя</a>
</body>
</html>

